# Terraform directories
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
*.tfvars
*.tfvars.json
terraform.tfvars

# Local environment files
*.tfvars
*.tfvars.json
terraform.tfvars


# Crash logs
crash.log

# Backup and temporary files
*.backup
*.swp
*.tmp

# OS-specific files
.DS_Store
Thumbs.db

# IDE/editor files
.vscode/
.idea/
*.iml
*.json

stacks/gcp/gcpclass6-5rb-c135ba443005.json